* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(18, 18, 66);
  color: coral;
  padding: 25px;
  font-size: 25px;
}

.container {
  background: #333 url("./image/mobileImage.jpeg") no-repeat center center/cover;
  height: 100vh;
  font-size: 30px;
}

.container .container-content {
  gap: 2rem;
  height: 100%;
  padding: 0 2rem;

  /* over lay */
  top: 0;
  left: 0;
  right: 0%;
  bottom: 0%;
  background-color: rgb(0, 0, 0, 0.79);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  height: 100vh;
}

button {
  padding: 14px;
  font-size: 30px;
  font-weight: 300;
  background-color: coral;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(224, 108, 66);
  color: rgb(18, 18, 66);
}

#balance {
  color: #fff;
  font-weight: 500;
  font-size: 50px;
}

@media (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }
}
